version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
    target-branch: main
    open-pull-requests-limit: 10
    labels:
      - "dependencies"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "quarterly"
    target-branch: main
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
