name: Go Build

on:
  workflow_dispatch:
  push:
    branches: 
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 3 * * 0"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.0
          check-latest: true

      - name: Show Go Version
        run: go version

      - name: Run Tests
        run: go test -v ./...

      - name: Build
        run: go build -o ./dist/ ./cmd/rmqbe
